{% extends 'about_us/base.html' %}
{% load static %}

{% block title %}GameHQ | About Us{% endblock %}
{% block content %}

<section class="welcome-section">
    <div class="welcome-container">
        <h1 style="color: white; text-align: center">About GameHQ</h1>
            <p class="description">Founded in 2005, GameHQ has been at the heart of Peiraeus' gaming community, located at Tsamadou 59. Our mission is simple: to bring the best gaming experiences to enthusiasts of all ages. From the latest blockbuster titles to indie gems, we curate a diverse selection of games across all major platforms.
                At GameHQ, we’re more than just a shop—we’re a hub for gamers who share a passion for exploring new worlds, conquering challenges, and connecting with others. Whether you're a seasoned player or just starting your gaming journey, our friendly team is here to help you find exactly what you’re looking for.
                Thank you for making GameHQ your trusted destination for all things gaming. Join us in celebrating the love of games and the joy they bring!</p>
    </div>
</section>

{% endblock %}