{% extends 'home/base.html' %}
{% load static %}

{% block title %}GameHQ | Home{% endblock %}
{% block content %}
<section class="welcome-section">
    <div class="welcome-container">
        <h1>Welcome to GameHQ</h1>
        <p>Since 2005, GameHQ has been your premier destination for video games in Peiraeus, located at Tsamadou 59. We specialize in offering the latest and greatest games across all platforms, from the newest releases to timeless classics. Whether you're a casual player or a hardcore gamer, GameHQ is your go-to spot for all things gaming. Explore our vast collection and discover the perfect game to fuel your passion!</p>
    </div>
</section>
{% endblock %}
