{% load static %}
<!-- FOOTER -->
<!--<footer class="text-center bg-dark fixed-bottom py-2">-->
<!--<footer class="{% block footer_class %}text-center bg-dark fixed-bottom py-2{% endblock %}">-->
    <!-- Container with reduced padding -->
    <div class="container py-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-link btn-sm text-white m-1 facebook-btn" href="https://www.facebook.com" target="_blank" role="button">
                <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Twitter -->
            <a class="btn btn-link btn-sm text-white m-1 twitter-btn" href="https://www.twitter.com" target="_blank" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Instagram -->
            <a class="btn btn-link btn-sm text-white m-1 instagram-btn" href="https://www.instagram.com" target="_blank" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- Linkedin -->
            <a class="btn btn-link btn-sm text-white m-1 linkedin-btn" href="https://www.linkedin.com" target="_blank" role="button">
                <i class="fab fa-linkedin"></i>
            </a>
        </section>
    </div>
    <!-- Copyright with reduced padding and smaller text -->
    <div class="text-center text-white py-1 small" style="background-color: rgba(0, 0, 0, 0.05); border-top: 2px solid #fff;">© 2024 GameHQ</div>
<!--</footer>-->